swagger: '2.0'
info:
  description: |
    Treezor API.

    more info [here](https://www.treezor.com).
  version: 0.1.1
  title: Treezor
  termsOfService: 'https://www.treezor.com/mentions-legales'
  contact:
    name: contact@treezor.com
  license:
    name: All right reserved
host: sandbox.treezor.com
basePath: /v1/index.php
schemes:
  - https
  - http
paths:

  /balances:
    get:
      tags:
        - balance
      summary: search balances
      description: Get balances that match search criteria.
      operationId: getBalances
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: accessSignature
          in: query
          description: |
            Access signature can be mandatory for specific context. Treezor will
            contact you if so. More info
            [here](https://agent.treezor.com/security-authentication).
          required: false
          type: string
        - name: accessTag
          in: query
          description: |
            Access tag is used for idem potency query. More info
            [here](https://agent.treezor.com/basics).
          required: false
          type: string
        - name: accessUserId
          in: query
          description: |
            Access user's id is used for user's action restriction. More info
            [here](https://agent.treezor.com/basics).
          required: false
          type: integer
        - name: accessUserIp
          in: query
          description: |
            Access user's ip is used for user's action restriction. More info
            [here](https://agent.treezor.com/basics).
          required: false
          type: string
        - name: walletId
          in: query
          description: Wallet's ID of wanted balance
          required: false
          type: integer
        - name: userId
          in: query
          description: Wallet's user id of wanted balanced
          required: false
          type: integer
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              balances:
                type: array
                items:
                  $ref: '#/definitions/Balance'
        '405':
          description: Invalid input
        default:
          description: Unexpected error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
      security:
        - api_key: []
  /bankaccounts:
    post:
      tags:
        - bankaccount
      summary: create a bank account
      description: Create a new benefeciary bank account in the system.
      operationId: postBankaccount
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: accessSignature
          in: query
          description: |
            Access signature can be mandatory for specific context. Treezor will
            contact you if so. More info
            [here](https://agent.treezor.com/security-authentication).
          required: false
          type: string
        - name: accessTag
          in: query
          description: |
            Access tag is used for idem potency query. More info
            [here](https://agent.treezor.com/basics).
          required: false
          type: string
        - name: accessUserId
          in: query
          description: |
            Access user's id is used for user's action restriction. More info
            [here](https://agent.treezor.com/basics).
          required: false
          type: integer
        - name: accessUserIp
          in: query
          description: |
            Access user's ip is used for user's action restriction. More info
            [here](https://agent.treezor.com/basics).
          required: false
          type: string
        - name: bankaccountTag
          in: query
          description: Custom data.
          required: false
          type: string
        - name: userId
          in: query
          description: Owner user's id.
          required: true
          type: integer
        - name: name
          in: query
          description: Bank account's name.
          required: false
          type: string
        - name: bankaccountOwnerName
          in: query
          description: Bank account owner's name.
          required: true
          type: string
        - name: bankaccountOwnerAddress
          in: query
          description: Bank account owner's address.
          required: true
          type: string
        - name: bankaccountIBAN
          in: query
          description: Beneficiary bank account's IBAN.
          required: true
          type: string
        - name: bankaccountBIC
          in: query
          description: Beneficiary bank account's BIC (or SWIFT).
          required: true
          type: string
        - name: bankaccountType
          in: query
          description: Beneficiary bank account's type.
          required: true
          type: string
          enum: ["sct", "sdd_core", "sdd_b2b"]

      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              bankaccounts:
                type: array
                items:
                  $ref: '#/definitions/Bankaccount'
        '405':
          description: Invalid input
        default:
          description: Unexpected error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
      security:
        - api_key: []
    get:
      tags:
        - bankaccount
      summary: search bank accounts
      description: Get bank accounts that match search criteria.
      operationId: getBankaccounts
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: accessSignature
          in: query
          description: |
            Access signature can be mandatory for specific context. Treezor will
            contact you if so. More info
            [here](https://agent.treezor.com/security-authentication).
          required: false
          type: string
        - name: accessTag
          in: query
          description: |
            Access tag is used for idem potency query. More info
            [here](https://agent.treezor.com/basics).
          required: false
          type: string
        - name: accessUserId
          in: query
          description: |
            Access user's id is used for user's action restriction. More info
            [here](https://agent.treezor.com/basics).
          required: false
          type: integer
        - name: accessUserIp
          in: query
          description: |
            Access user's ip is used for user's action restriction. More info
            [here](https://agent.treezor.com/basics).
          required: false
          type: string
        - name: bankaccountId
          in: query
          description: bank account id.
          required: false
          type: integer
        - name: bankaccountStatus
          in: query
          description: |
            bank account status. Possible values:
            * CANCELED
            * PENDING
            * VALIDATED
          required: false
          type: string
        - name: userId
          in: query
          description: Bank account owner user's id
          required: false
          type: integer
        - name: bankaccountIBAN
          in: query
          description: Bank account IBAN
          required: false
          type: string
        - name: pageNumber
          in: query
          description: |
            Pagination page number. More info
            [here](https://agent.treezor.com/lists).
          required: false
          type: integer
        - name: pageCount
          in: query
          description: |
            The number of items per page. More info
            [here](https://agent.treezor.com/lists).
          required: false
          type: integer
        - name: sortBy
          in: query
          description: |
            The transaction element you want to sort the list with. Default
            value : _createdDate_. More info
            [here](https://agent.treezor.com/lists).
          required: false
          type: string
        - name: sortOrder
          in: query
          description: |
            The order you want to sort the list.
            * **DESC** for a descending sort
            * **ASC** for a ascending sort.

            Default value : DESC.
            More info [here](https://agent.treezor.com/lists).
          required: false
          type: string
        - name: createdDateFrom
          in: query
          description: |
            The creation date from which you want to filter the request result.
            Format YYYY-MM-DD HH:MM:SS. More info
            [here](https://agent.treezor.com/lists)
          required: false
          type: string
          format: date-time
        - name: createdDateTo
          in: query
          description: |
            The creation date up to which you want to filter the request result.
            Format YYYY-MM-DD HH:MM:SS. More info
            [here](https://agent.treezor.com/lists)
          required: false
          type: string
          format: date-time
        - name: updatedDateFrom
          in: query
          description: |
            The modification date from which you want to filter the request
            result. Format YYYY-MM-DD HH:MM:SS. More info
            [here](https://agent.treezor.com/lists)
          required: false
          type: string
          format: date-time
        - name: updatedDateTo
          in: query
          description: |
            The modification date up to which you want to filter the request
            result. Format YYYY-MM-DD HH:MM:SS. More info
            [here](https://agent.treezor.com/lists)
          required: false
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              bankaccounts:
                type: array
                items:
                  $ref: '#/definitions/Bankaccount'
        '405':
          description: Invalid input
        default:
          description: Unexpected error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
      security:
        - api_key: []
  '/bankaccounts/{id}':
    get:
      parameters:
        - name: id
          in: path
          description: Bank Accounts internal id.
          required: true
          type: integer
          format: int64
      tags:
        - bankaccount
      summary: get a bank account
      description: Get a bank account from the system.
      operationId: getBankaccount
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              bankaccounts:
                type: array
                items:
                  $ref: '#/definitions/Bankaccount'
        '405':
          description: Invalid input
        default:
          description: Unexpected error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
      security:
        - api_key: []
    delete:
      parameters:
        - name: id
          in: path
          description: Bank Accounts internal id.
          required: true
          type: integer
          format: int64
      tags:
        - bankaccount
      summary: deactivate a bank account
      description: Change bank account's status to CANCELED. If a payout is being validated on this bank account, it can not be canceled.
      operationId: deleteBankaccount
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              bankaccounts:
                type: array
                items:
                  $ref: '#/definitions/Bankaccount'
        '405':
          description: Invalid input
        default:
          description: Unexpected error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
      security:
        - api_key: []
  /beneficiaries:
    post:
      tags:
        - beneficiaries
      summary: create a beneficiary
      description: Create a new benefeciary bank account in the system.
      operationId: postBeneficiary
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: accessSignature
          in: query
          description: |
            Access signature can be mandatory for specific context. Treezor will
            contact you if so. More info
            [here](https://agent.treezor.com/security-authentication).
          required: false
          type: string
        - name: accessTag
          in: query
          description: |
            Access tag is used for idem potency query. More info
            [here](https://agent.treezor.com/basics).
          required: false
          type: string
        - name: accessUserId
          in: query
          description: |
            Access user's id is used for user's action restriction. More info
            [here](https://agent.treezor.com/basics).
          required: false
          type: integer
        - name: accessUserIp
          in: query
          description: |
            Access user's ip is used for user's action restriction. More info
            [here](https://agent.treezor.com/basics).
          required: false
          type: string
        - in: body
          name: body
          schema:
            required:
              - userId
              - name
            properties:
              tag:
                description: Custom data that could be used by caller to search the instance.
                type: string
              userId:
                description: Beneficiary's userId
                type: integer
              nickName:
                description: Name choosen by end user to easily recognize the beneficiary.
                type: string
              name:
                description: Beneficiary name, linked to bank account.
                type: string
              address:
                description: Beneficiary address, linked to bank account.
                type: string
              iban:
                description: Beneficiary International Bank Account Number. Mandatory if usableForSct is true.
                type: string
              bic:
                description: Beneficiary Bank Identifier Code. Mandatory if usableForSct is true.
                type: string
              sepaCreditorIdentifier:
                description: Beneficiary SEPA Creditor Identifier. Mandatory to validate incoming direct debit, useless other wise. Between 8 and 35 caracters. If sddB2bWhitelist or sddCoreBlacklist is provided then sepaCreditorIdentifier is mandatory.
                type: string
              sddB2bWhitelist:
                description: Each unique mandate reference, with its frequency type, must be explicitely allowed when doing B2B Direct Debit. Furthermore, a mandate not used during more than 36 months will be automatically rejected even if in the white list. If provided, sepaCreditorIdentifier is mandatory.
                type: array
                items:
                  type: object
                  required:
                    - uniqueMandateReference
                    - isRecurrent
                  properties:
                    uniqueMandateReference:
                      type: string
                      description: Unique Mandate Reference that unambiguiously identify a mandate signed between the user and the beneficiary
                    isRecurrent:
                      type: boolean
                      description: If mandate is a recuring payment, this field must be true.
                    walletId:
                      type: number
                      description: If present, the Direct Debit will be accepted only if the targeted wallet is the wallet with the given walletId. Without this value, the SDD can target any wallets of the user. With the value specified, only the explicitely authorized wallet can be targeted by SDD.
              sddCoreBlacklist:
                description: Core Direct Debit are accepted by default. If a Core mandate is to be refused on reception, it has to be added to this list. If wild char * (star) is used instead of a UMR, all Direct Debit from this beneficiary will be refused. If provided, sepaCreditorIdentifier is mandatory.
                type: array
                items:
                  type: string
                  description: Unique Mandate Reference that unambiguiously identify a mandate signed between the user and the beneficiary. Star character can also be used to reject all Direct debit from the beneficiary.
              usableForSct:
                description: Indicated if the beneficiary can be used for SEPA Credit Transfer. This field is a conveniant way to filter all beneficiaries for a user that would like to do a Credit Transfer. Indeed, beneficaries are created automatically when receiving a Core Direct Debit and therefor by looking at the list you won't be able to idnetify which beneficary to use on SCT.
                type: boolean
                default: false
              fields:
                description: List of the object's properties you want to pick up.
                type: array
                items:
                  type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              beneficiaries:
                type: array
                items:
                  $ref: '#/definitions/Beneficiary'
        '405':
          description: Invalid input
        default:
          description: Unexpected error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
      security:
        - api_key: []
    get:
      tags:
        - beneficiaries
      summary: search beneficiary bank accounts
      description: Get beneficiary bank accounts that match search criteria.
      operationId: getBeneficiaries
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: accessSignature
          in: query
          description: |
            Access signature can be mandatory for specific context. Treezor will
            contact you if so. More info
            [here](https://agent.treezor.com/security-authentication).
          required: false
          type: string
        - name: accessTag
          in: query
          description: |
            Access tag is used for idem potency query. More info
            [here](https://agent.treezor.com/basics).
          required: false
          type: string
        - name: accessUserId
          in: query
          description: |
            Access user's id is used for user's action restriction. More info
            [here](https://agent.treezor.com/basics).
          required: false
          type: integer
        - name: accessUserIp
          in: query
          description: |
            Access user's ip is used for user's action restriction. More info
            [here](https://agent.treezor.com/basics).
          required: false
          type: string
        - name: fields
          in: query
          description: List of the object's properties you want to pick up.
          required: false
          type: array
          items:
            type: string
        - name: filter
          in: query
          description: >
            You can filter the API response by using filter(s).

            Filterable fields are :
             - id
             - tag
             - userId
             - isActive
             - nickName
             - address
             - iban (encrypted IBAN)
             - IbanInClear
             - bic
             - sepaCreditorIdentifier
             - usableForSct

            Filters should be separated by a ";". Example for 3 filters : FILTER1;FILTER2;FILTER3.

            A single filter has the following syntax : "fieldName criterion expression".

            Where :
             - fieldName : the name of a filterable field of this object.

             - expression : the values to be included or excluded (see the table below for more information)

             - criterion : a filter criterion.

            Here are the possible values for criterion :

             | Criteria |         Description    |                   Type                   | Expression Example |
             |----------|------------------------|------------------------------------------|--------------------|
             |     >    |      greater than      |            alphanumeric string           |         100        |
             |    >=    | greater or equal than  |            alphanumeric string           |         100        |
             |     <    |        less than       |            alphanumeric string           |         100        |
             |    <=    |   less or equal than   |            alphanumeric string           |         100        |
             |    !=    |      not equal to      |            alphanumeric string           |         100        |
             |   like   |          like          |            alphanumeric string           |         100        |
             |    in    |           in           | alphanumeric strings separated by commas |      100,30,25     |
             |    ==    |         equals         |            alphanumeric string           |         100        |

          required: false
          type: string
        - name: id
          in: query
          description: Beneficiary bank account id.
          required: false
          type: integer
        - name: userId
          in: query
          description: Owner user's id. (deprecated, you must use the parameter filter)
          required: false
          type: integer
        - name: iban
          in: query
          description: Beneficiary bank account IBAN. (deprecated, you must use the parameter filter)
          required: false
          type: string
        - name: bic
          in: query
          description: Beneficiary bank account BIC. (deprecated, you must use the parameter filter)
          required: false
          type: string
        - name: nickName
          in: query
          description: Beneficiary bank account's nick name. (deprecated, you must use the parameter filter)
          required: false
          type: string
        - name: name
          in: query
          description: Beneficiary bank account owner's name. (deprecated, you must use the parameter filter)
          required: false
          type: string
        - name: pageNumber
          in: query
          description: |
            Pagination page number. More info
            [here](https://agent.treezor.com/lists).
          required: false
          type: integer
        - name: pageCount
          in: query
          description: |
            The number of items per page. More info
            [here](https://agent.treezor.com/lists).
          required: false
          type: integer
        - name: sortBy
          in: query
          description: |
            The transaction element you want to sort the list with. Default
            value : _createdDate_. More info
            [here](https://agent.treezor.com/lists).
          required: false
          type: string
        - name: sortOrder
          in: query
          description: |
            The order you want to sort the list.
            * **DESC** for a descending sort
            * **ASC** for a ascending sort.

            Default value : DESC.
            More info [here](https://agent.treezor.com/lists).
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              beneficiaries:
                type: array
                items:
                  $ref: '#/definitions/Beneficiary'
        '405':
          description: Invalid input
        default:
          description: Unexpected error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
      security:
        - api_key: []
  '/beneficiaries/{id}':
    get:
      parameters:
        - name: id
          in: path
          description: Beneficiary Bank Accounts internal id.
          required: true
          type: integer
          format: int64
        - name: fields
          in: query
          description: List of the object's properties you want to pick up.
          required: false
          type: array
          items:
            type: string
      tags:
        - beneficiaries
      summary: get a beneficiary bank account
      description: Get a beneficiary bank account from the system.
      operationId: getBeneficiary
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              beneficiaries:
                type: array
                items:
                  $ref: '#/definitions/Beneficiary'
        '405':
          description: Invalid input
        default:
          description: Unexpected error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
      security:
        - api_key: []
    put:
      tags:
        - beneficiaries
      summary: edit a beneficiary
      description: Edit a benefeciary bank account in the system.
      operationId: putBeneficiary
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: Beneficiary's id.
          required: true
          type: integer
        - name: accessSignature
          in: query
          description: |
            Access signature can be mandatory for specific context. Treezor will
            contact you if so. More info
            [here](https://agent.treezor.com/security-authentication).
          required: false
          type: string
        - name: accessTag
          in: query
          description: |
            Access tag is used for idem potency query. More info
            [here](https://agent.treezor.com/basics).
          required: false
          type: string
        - name: accessUserId
          in: query
          description: |
            Access user's id is used for user's action restriction. More info
            [here](https://agent.treezor.com/basics).
          required: false
          type: integer
        - name: accessUserIp
          in: query
          description: |
            Access user's ip is used for user's action restriction. More info
            [here](https://agent.treezor.com/basics).
          required: false
          type: string
        - in: body
          name: body
          schema:
            properties:
              tag:
                description: Custom data that could be used by caller to search the instance.
                type: string
              nickName:
                description: Name choosen by end user to easily recognize the beneficiary.
                type: string
              name:
                description: Beneficiary name, linked to bank account.
                type: string
              address:
                description: Beneficiary address, linked to bank account.
                type: string
              iban:
                description: Beneficiary International Bank Account Number. Mandatory if usableForSct is true.
                type: string
              bic:
                description: Beneficiary Bank Identifier Code. Mandatory if usableForSct is true.
                type: string
              sepaCreditorIdentifier:
                description: Beneficiary SEPA Creditor Identifier. Mandatory to validate incoming direct debit, useless other wise. Between 8 and 35 caracters. If sddB2bWhitelist or sddCoreBlacklist is provided then sepaCreditorIdentifier is mandatory.
                type: string
              sddB2bWhitelist:
                description: Each unique mandate reference, with its frequency type, must be explicitely allowed when doing B2B Direct Debit. Furthermore, a mandate not used during more than 36 months will be automatically rejected even if in the white list.
                type: array
                items:
                  type: object
                  required:
                    - uniqueMandateReference
                    - isRecurrent
                  properties:
                    uniqueMandateReference:
                      type: string
                      description: Unique Mandate Reference that unambiguiously identify a mandate signed between the user and the beneficiary
                    isRecurrent:
                      type: boolean
                      description: If mandate is a recuring payment, this field must be true.
                    walletId:
                      type: number
                      description: If present, the Direct Debit will be accepted only if the targeted wallet is the wallet with the given walletId. Without this value, the SDD can target any wallets of the user. With the value specified, only the explicitely authorized wallet can be targeted by SDD.
              sddCoreBlacklist:
                description: Core Direct Debit are accepted by default. If a Core mandate is to be refused on reception, it has to be added to this list. If wild char * (star) is used instead of a UMR, all Direct Debit from this beneficiary will be refused.
                type: array
                items:
                  type: string
                  description: Unique Mandate Reference that unambiguiously identify a mandate signed between the user and the beneficiary. Star character can also be used to reject all Direct debit from the beneficiary.
              usableForSct:
                description: Indicated if the beneficiary can be used for SEPA Credit Transfer. This field is a conveniant way to filter all beneficiaries for a user that would like to do a Credit Transfer. Indeed, beneficaries are created automatically when receiving a Core Direct Debit and therefor by looking at the list you won't be able to idnetify which beneficary to use on SCT.
                type: boolean
                default: false
              fields:
                description: List of the object's properties you want to pick up.
                type: array
                items:
                  type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              beneficiaries:
                type: array
                items:
                  $ref: '#/definitions/Beneficiary'
        '405':
          description: Invalid input
        default:
          description: Unexpected error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
      security:
        - api_key: []
  /businesssearchs:
    get:
      summary: search businesses
      description: |
        The search endpoint returns some business information.
      parameters:
        - name: accessSignature
          in: query
          description: |
            Access signature can be mandatory for specific context. Treezor will
            contact you if so. More info
            [here](https://agent.treezor.com/security-authentication).
          required: false
          type: string
        - name: accessTag
          in: query
          description: |
            Access tag is used for idem potency query. More info
            [here](https://agent.treezor.com/basics).
          required: false
          type: string
        - name: accessUserId
          in: query
          description: |
            Access user's id is used for user's action restriction. More info
            [here](https://agent.treezor.com/basics).
          required: false
          type: integer
        - name: accessUserIp
          in: query
          description: |
            Access user's ip is used for user's action restriction. More info
            [here](https://agent.treezor.com/basics).
          required: false
          type: string
        - name: country
          in: query
          description: |
            In which country to search. Format [ISO 3166-1
            alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)
          required: true
          type: string
        - name: nameExact
          in: query
          description: |
            Business exact name. Exclusive with nameMatchBeginning and
            nameClosestKeywords.
          required: false
          type: string
        - name: nameMatchBeginning
          in: query
          description: |
            Business names begin with. Exclusive with nameExact and
            nameClosestKeywords.
          required: false
          type: string
        - name: nameClosestKeywords
          in: query
          description: |
            Business names closed to keywords. Exclusive with nameExact and
            nameMatchBeginning.
          required: false
          type: string
        - name: registrationNumber
          in: query
          description: Business registration number.
          required: false
          type: string
        - name: vatNumber
          in: query
          description: Business VAT number.
          required: false
          type: string
        - name: phoneNumber
          in: query
          description: Business phone number.
          required: false
          type: string
        - name: addressStreet
          in: query
          description: Business' street address.
          required: false
          type: string
        - name: addressCity
          in: query
          description: Business' city address.
          required: false
          type: string
        - name: addressPostalCode
          in: query
          description: Business' postal code address.
          required: false
          type: string
      tags:
        - business
      responses:
        '200':
          description: A business search response
          examples:
            application/json:
              - legalName: "TREEZOR"
                phone: null
                legalTvaNumber: null
                legalRegistrationNumber: "80746505900010"
                status: "A"
                officeType: "1"
                safeNumber: "FR18178917"
                activityType: "7022Z"
                externalId: "80746505900010"
                address1: "150 RUE GALLIENI"
                postcode: "92100"
                city: "BOULOGNE BILLANCOURT"
                state: null
                country: "FR"
                tradename: null
              - legalName: "TREEZOR"
                phone: null
                legalTvaNumber: null
                legalRegistrationNumber: "80746505900028"
                status: "A"
                officeType: "0"
                safeNumber: "FR18549597"
                activityType: "7022Z"
                externalId: "80746505900028"
                address1: "42 RUE MARCEAU, MONTREUIL SOUS BOIS"
                postcode: "93100"
                city: "MONTREUIL"
                state: null
                country: "FR"
                tradename: null
          schema:
            type: array
            items:
              type: object
              properties:
                businessinformations:
                  type: array
                  items:
                    type: object
                    properties:
                      legalName:
                        type: string
                        description: Business commercial name.
                      phone:
                        type: string
                        description: Business phone number.
                      legalTvaNumber:
                        type: string
                        description: Business VAT number.
                      legalRegistrationNumber:
                        type: string
                        description: Business registration number.
                      status:
                        type: string
                        description: |
                          | Code | Description |
                          | ---- | ----------- |
                          |  D   | Deleted     |
                          |  N   | Company non diffusible (Insee) |
                          |  I   | Inactive (Insee) |
                          |  A   | Economically active |
                          |  C   | Closed |
                          |  T   | Transfered |
                          |  S   | Economically stopped (Insee) |
                          |  L   | Liquidation |
                          |  O   | Dormant company |
                        enum: ["D", "N", "I", "A", "C", "T", "S", "L", "O"]
                      officeType:
                        type: integer
                        description: |
                          | Code | Description |
                          | ---- | ----        |
                          |  0   | Secondary establishment |
                          |  1   | Headquarter |
                      safeNumber:
                        type: string
                        description: Business SAFE number.
                      activityType:
                        type: string
                        description: Business sector. Code NAF in France.
                      externalId:
                        type: string
                        description: Business external id.
                      address1:
                        type: string
                        description: Business' street.
                      postcode:
                        type: string
                        description: Business' postal code.
                      city:
                        type: string
                        description: Business' city.
                      state:
                        type: string
                        description: Business' province.
                      country:
                        type: string
                        description: Business' country.
                        format: ISO 3166-1 alpha-2
                      tradename:
                        type: string
                        description: Business trade name
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - api_key: []
  /businessinformations:
    get:
      summary: get business information
      description: >
        The get business information endpoint returns all already known business
        information. End user will have then to verify/correct it.
      parameters:
        - name: accessSignature
          in: query
          description: |
            Access signature can be mandatory for specific context. Treezor will
            contact you if so. More info
            [here](https://agent.treezor.com/security-authentication).
          required: false
          type: string
        - name: accessTag
          in: query
          description: |
            Access tag is used for idem potency query. More info
            [here](https://agent.treezor.com/basics).
          required: false
          type: string
        - name: accessUserId
          in: query
          description: |
            Access user's id is used for user's action restriction. More info
            [here](https://agent.treezor.com/basics).
          required: false
          type: integer
        - name: accessUserIp
          in: query
          description: |
            Access user's ip is used for user's action restriction. More info
            [here](https://agent.treezor.com/basics).
          required: false
          type: string
        - name: country
          in: query
          description: |
            In which country to search. Format [ISO 3166-1
            alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)
          required: true
          type: string
        - name: externalId
          in: query
          description: External unique business id. As given in businesssearch reponse.
          required: false
          type: string
        - name: registrationNumber
          in: query
          description: Unique business registration number.
          required: false
          type: string
        - name: vatNumber
          in: query
          description: Unique business VAT number.
          required: false
          type: string
      tags:
        - business
      responses:
        '200':
          description: A business information response
          examples:
            application/json:
              - legalName: "TREEZOR"
                legalRegistrationNumber: "80746505900028"
                legalRegistrationDate: "2014-10-01"
                legalForm: "Simplified joint stock company"
                legalShareCapital: "1800000.00"
                legalSector: "7022Z"
                legalAnnualTurnOver: null
                legalNetIncomeRange: null
                legalNumberOfEmployeeRange: null
                phone: null
                email: null
                address1: "MONTREUIL SOUS BOIS, 42 RUE MARCEAU"
                postcode: "93100"
                city: "MONTREUIL"
                state: "null"
                country: "FR"
                status: "A"
                tradename: ""
                users:
                  - firstname: "ERIC"
                    lastname: "LASSUS"
                    fullnames: "M LASSUS ERIC"
                    birthday: "1966-07-31"
                    parentType: "Managing director"
                  - firstname: "XAVIER"
                    lastname: "LABOURET"
                    fullnames: "M LABOURET XAVIER"
                    birthday: "1973-10-15"
                    parentType: "Managing director"
                  - firstname: "GREGOIRE"
                    lastname: "BOURDIN"
                    fullnames: "M BOURDIN GREGOIRE"
                    birthday: "1979-07-27"
                    parentType: "Administrator"
                  - firstname: "LOÏC"
                    lastname: "JAUSON"
                    fullnames: "M JAUSON LOÏC"
                    birthday: "1966-05-20"
                    parentType: "Administrator"
                  - firstname: "BENJAMIN"
                    lastname: "JAYET"
                    fullnames: "M JAYET BENJAMIN"
                    birthday: "1973-04-03"
                    parentType: "Administrator"
          schema:
            type: object
            properties:
              businessinformations:
                type: array
                items:
                  type: object
                  properties:
                    legalName:
                      type: string
                      description: Business commercial name.
                    legalRegistrationNumber:
                      type: string
                      description: Business registration number.
                    legalRegistrationDate:
                      type: string
                      description: Business registration date.
                    legalForm:
                      type: string
                      description: |
                        | Code | Category | Details (in french) |
                        | ---- | ----- | ---- |
                        | 1000 | Individual company | Entrepreneur Individuel a Responsabilité Limitée (EIRL) |
                        | 1100 | Individual company | Artisan-Commerçant |
                        | 1200 | Individual company | Commerçant |
                        | 1300 | Individual company | Artisan |
                        | 1400 | Liberal profession | Officier public ou ministériel |
                        | 1500 | Liberal profession | Profession libérale |
                        | 1600 | Farm operator  | Exploitant agricole |
                        | 1700 | Liberal profession | Agent commercial |
                        | 1800 | Partner Director | Associé-gérant |
                        | 1900 | Individual company | Personne physique |
                        | 2110 | Indivision and others | Indivision entre personnes physiques |
                        | 2120 | Indivision and others | Indivision avec personne morale |
                        | 2210 | Indivision and others | Société créée de fait entre personnes physiques |
                        | 2220 | Indivision and others | Société créée de fait avec personne morale |
                        | 2310 | Indivision and others | Société en participation entre personnes physiques |
                        | 2320 | Indivision and others | Société en participation avec personne morale |
                        | 2385 | Indivision and others | Société en participation de professions libérales |
                        | 2400 | Indivision and others | Fiducie |
                        | 2700 | Diverse | Paroisse hors zone concordataire |
                        | 2900 | Economic Interest Grouping | Autre groupement de droit privé non doté de la personnalité morale |
                        | 3110 | Foreign company | Représentation ou agence commerciale d'état ou organisme public étranger  immatriculé au RCS |
                        | 3120 | Foreign company | Société étrangère immatriculée au RCS |
                        | 3205 | Foreign company | Organisation internationale |
                        | 3210 | Foreign company | Etat collectivité ou établissement public étranger |
                        | 3220 | Foreign company | Société étrangère non immatriculée au RCS |
                        | 3290 | Foreign company | (Autre) personne morale de droit étranger |
                        | 4110 | Administrations, Instituions | Etablissement public national à caractère industriel ou commercial doté d'un comptable public |
                        | 4120 | Administrations, Instituions | Etablissement public national à caractère industriel ou commercial non doté d'un comptable public |
                        | 4130 | Administrations, Instituions | Exploitant public |
                        | 4140 | Administrations, Instituions | Etablissement public local à caractère industriel ou commercial |
                        | 4150 | Administrations, Instituions | Régie d'une collectivité locale à caractère industriel ou commercial |
                        | 4160 | Administrations, Instituions | Institution Banque de France |
                        | 5191 | De facto undivided ownership company | Société de caution mutuelle |
                        | 5192 | Diverse | Société coopérative de banque populaire |
                        | 5193 | De facto undivided ownership company | Caisse de crédit maritime mutuel |
                        | 5194 | De facto undivided ownership company | Caisse (fédérale) de crédit mutuel |
                        | 5195 | Association fondation | Association coopérative inscrite (droit local Alsace Moselle) |
                        | 5196 | De facto undivided ownership company | Caisse d'épargne et de prévoyance à forme coopérative |
                        | 5202 | General partnership | Société en nom collectif |
                        | 5203 | General partnership | Société en nom collectif coopérative |
                        | 5306 | Limited company | Société en commandite simple |
                        | 5307 | Limited company | Société en commandite simple coopérative |
                        | 5308 | Limited company | Société en commandite par actions |
                        | 5309 | Limited company | Société en commandite par actions coopérative |
                        | 5385 | Limited company | Société d'exercice libéral en commandite par action |
                        | 5410 | Limited Liability Company  | SARL nationale |
                        | 5415 | Limited Liability Company  | SARL d'économie mixte |
                        | 5422 | Limited Liability Company  | SARL immobilière pour le commerce et l'industrie (SICOMI) |
                        | 5426 | Limited Liability Company  | Société immobilière de gestion |
                        | 5430 | Limited Liability Company  | Safer en SARL |
                        | 5431 | Limited Liability Company  | SARL mixte d'intérêt agricole (SIMA) |
                        | 5432 | Limited Liability Company  | SARL d'intérêt collectif agricole (SICA) |
                        | 5442 | Limited Liability Company  | SARL d'attribution |
                        | 5443 | Limited Liability Company  | SARL coopérative de construction |
                        | 5451 | Limited Liability Company  | SARL coopérative de consommation |
                        | 5453 | Limited Liability Company  | SARL coopérative artisanale |
                        | 5454 | Limited Liability Company  | SARL coopérative d'intérêt maritime |
                        | 5455 | Limited Liability Company  | SARL coopérative de transports |
                        | 5458 | Limited Liability Company  | SARL coopérative ouvrière de production et de crédit (SCOP) |
                        | 5459 | Limited Liability Company  | SARL union de sociétés coopératives |
                        | 5460 | Limited Liability Company  | SARL coopérative |
                        | 5485 | Limited Liability Company  | Société d'exercice libéral à responsabilité limitée |
                        | 5498 | Limited Liability Company  | SARL unipersonnelle |
                        | 5499 | Limited Liability Company  | SARL |
                        | 5505 | Limited company | SA à participation ouvrière à conseil d'administration |
                        | 5510 | Limited company | SA nationale à conseil d'administration |
                        | 5515 | Limited company | SA d'économie mixte à conseil d'administration |
                        | 5520 | Limited company | Société d'investissement à capital variable (SICAV) à conseil d'administration |
                        | 5522 | Limited company | Société anonyme immobilière pour le commerce et l'industrie (SICOMI)  à conseil d'administration |
                        | 5525 | Limited company | Société anonyme immobilière d'investissement à conseil d'administration |
                        | 5530 | Limited company | Safer anonyme à conseil d'administration |
                        | 5531 | Limited company | Société anonyme mixte d'intérêt agricole (SMIA) à conseil d'administration |
                        | 5532 | Limited company | Société anonyme mixte d'intérêt collectif agricole (SICA) à conseil d'administration |
                        | 5542 | Limited company | Société anonyme d'attribution à conseil d'administration |
                        | 5543 | Limited company | Société anonyme coopérative de construction à conseil d'administration |
                        | 5546 | Limited company | SA de HLM à conseil d'administration |
                        | 5547 | Limited company | SA coopérative de production de HLM à conseil d'administration |
                        | 5548 | Limited company | SA de crédit immobilier à conseil d'administration |
                        | 5551 | Limited company | SA coopérative de consommation à conseil d'administration |
                        | 5552 | Limited company | SA coopérative de commerçants détaillants à conseil d'administration |
                        | 5553 | Limited company | SA coopérative artisanale à conseil d'administration |
                        | 5554 | Limited company | SA coopérative (d'intérêt) maritime à conseil d'administration |
                        | 5555 | Limited company | SA coopérative de transports à conseil d'administration |
                        | 5558 | Limited company | SCOP à conseil d'administration |
                        | 5559 | Limited company | SA union de sociétés coopératives à conseil d'administration |
                        | 5560 | Limited company | SA coopérative à conseil d'administration |
                        | 5585 | Limited company | Société d'exercice libéral à forme anonyme à conseil d'administration |
                        | 5599 | Limited company | SA à conseil d'administration |
                        | 5605 | Limited company | SA à participation ouvrière à directoire |
                        | 5610 | Limited company | SA nationale à directoire |
                        | 5615 | Limited company | SA d'économie mixte à directoire |
                        | 5620 | Limited company | SICAV |
                        | 5622 | Limited company | SICOMI |
                        | 5625 | Limited company | Société immobilière d'investissement anonyme à directoire |
                        | 5630 | Limited company | Safer anonyme à directoire |
                        | 5631 | Limited company | Société anonyme mixte d'intérêt agricole (SMIA) |
                        | 5632 | Limited company | SICA |
                        | 5642 | Limited company | Société anonyme d'attribution à directoire |
                        | 5643 | Limited company | Société anonyme coopérative de construction à directoire |
                        | 5646 | Limited company | S.A. HLM à directoire |
                        | 5647 | Limited company | Société coopérative de production de HLM anonyme à directoire |
                        | 5648 | Limited company | SA de crédit immobilier à directoire |
                        | 5651 | Limited company | SA coopérative de consommation à directoire |
                        | 5652 | Limited company | SA coopérative de commerçants détaillants à directoire |
                        | 5653 | Limited company | SA coopérative artisanale à directoire |
                        | 5654 | Limited company | SA coopérative (d'intérêt) maritime à directoire |
                        | 5655 | Limited company | SA coopérative de transport à directoire |
                        | 5658 | Limited company | SCOP |
                        | 5659 | Limited company | SA union de sociétés coopératives à directoire |
                        | 5660 | Limited company | SA coopérative à directoire |
                        | 5685 | Limited company | Société d'exercice libéral à forme anonyme à directoire |
                        | 5699 | Limited company | (Autre) SA à directoire |
                        | 5710 | Limited company | SAS |
                        | 5720 | Limited company | SASU |
                        | 5785 | Limited company | Société d'exercice libéral par action simplifiée |
                        | 5800 | Diverse | Société européenne |
                        | 6100 | De facto undivided ownership company | Caisse d'épargne et de prévoyance |
                        | 6210 | Economic Interest Grouping | GEIE |
                        | 6220 | Economic Interest Grouping | GIE |
                        | 6316 | Diverse | CUMA |
                        | 6317 | Diverse | Société coopérative agricole |
                        | 6318 | Diverse | Union de sociétés coopératives agricoles |
                        | 6411 | De facto undivided ownership company | Société d'assurance mutuelle |
                        | 6521 | Civils companies (without SCI) | SCPI |
                        | 6532 | Civils companies (without SCI) | SICA |
                        | 6533 | Civils companies (without SCI) | GAEC |
                        | 6534 | Civils companies (without SCI) | Groupement foncier agricole |
                        | 6535 | Civils companies (without SCI) | Groupement agricole foncier |
                        | 6536 | Civils companies (without SCI) | Groupement forestier |
                        | 6537 | Civils companies (without SCI) | Groupement pastoral |
                        | 6538 | Civils companies (without SCI) | Groupement foncier rural |
                        | 6539 | Civils companies (without SCI) | Société civile foncière |
                        | 6540 | Civils companies | SCI |
                        | 6541 | Civils companies | SCI de construction vente |
                        | 6542 | Civils companies (without SCI) | Société civile d'attribution |
                        | 6543 | Civils companies (without SCI) | Société civile coopérative de construction |
                        | 6544 | Civils companies | Société civile d'accession progressive à la propriété |
                        | 6551 | Civils companies (without SCI) | Société civile coopérative de consommation |
                        | 6554 | Civils companies (without SCI) | Société civile coopérative (d'intérêt) maritime |
                        | 6558 | Civils companies (without SCI) | Société civile coopérative entre médecins |
                        | 6560 | Civils companies (without SCI) | SCP |
                        | 6561 | Civils companies (without SCI) | SCP d'avocats |
                        | 6562 | Civils companies (without SCI) | SCP d'avocats aux conseil |
                        | 6563 | Civils companies (without SCI) | SCP d'avoués d'appel |
                        | 6564 | Civils companies (without SCI) | SCP d'huissiers |
                        | 6565 | Civils companies (without SCI) | SCP de notaires |
                        | 6566 | Civils companies (without SCI) | SCP de commissaires-priseurs |
                        | 6567 | Civils companies (without SCI) | SCP de greffiers de tribunal de commerce |
                        | 6568 | Civils companies (without SCI) | SCP de conseils juridiques |
                        | 6569 | Civils companies (without SCI) | SCP de commissaires aux comptes |
                        | 6571 | Civils companies (without SCI) | SCP de médecins |
                        | 6572 | Civils companies (without SCI) | SCP de dentistes |
                        | 6573 | Civils companies (without SCI) | SCP d'infirmiers |
                        | 6574 | Civils companies (without SCI) | SCP de masseurs kinésithérapeutes |
                        | 6575 | Civils companies (without SCI) | SCP de directeurs de laboratoire d'analyse médicale |
                        | 6576 | Civils companies (without SCI) | SCP de vétérinaires |
                        | 6577 | Civils companies (without SCI) | SCP de géomètres-experts |
                        | 6578 | Civils companies (without SCI) | SCP d'architectes |
                        | 6585 | Civils companies (without SCI) | SCP |
                        | 6588 | Civils companies (without SCI) | Société civile laitière |
                        | 6589 | Civils companies (without SCI) | Société civile de moyens |
                        | 6595 | Civils companies (without SCI) | Caisse (locale) de crédit mutuel |
                        | 6596 | Civils companies (without SCI) | Caisse de crédit agricole mutuel |
                        | 6597 | Civils companies (without SCI) | Société civile d'exploitation agricole |
                        | 6598 | Farm operator  | Exploitation agricole à responsabilité limitée |
                        | 6599 | Civils companies (without SCI) | Autre société civile |
                        | 6901 | Diverse | Autres personnes de droit privé inscrites au registre du commerce et des sociétés |
                        | 7111 | Administrations, Instituions | Autorité constitutionnelle |
                        | 7112 | Administrations, Instituions | Autorité administrative indépendante |
                        | 7113 | Administrations, Instituions | Ministère |
                        | 7120 | Administrations, Instituions | Service central d'un ministère |
                        | 7150 | Administrations, Instituions | Service du ministère de la Défense |
                        | 7160 | Administrations, Instituions | Service déconcentré à compétence nation . D'un ministère (hors Défense) |
                        | 7171 | Administrations, Instituions | Service déconcentré de l'Etat à compétence (inter) régionale |
                        | 7172 | Administrations, Instituions | Service déconcentré de l'Etat à compétence (inter) départementale |
                        | 7179 | Administrations, Instituions | (Autre) Service déconcentré de l'Etat à compétence territoriale |
                        | 7190 | Administrations, Instituions | Ecole nationale non dotée de la personnalité morale |
                        | 7210 | Administrations, Instituions | Commune |
                        | 7220 | Administrations, Instituions | Département |
                        | 7225 | Administrations, Instituions | Territoire d'Outre-Mer |
                        | 7229 | Administrations, Instituions | (Autre) Collectivité territoriale |
                        | 7230 | Administrations, Instituions | Région |
                        | 7312 | Administrations, Instituions | Commune associée |
                        | 7313 | Administrations, Instituions | Section de commune |
                        | 7314 | Administrations, Instituions | Ensemble urbain |
                        | 7321 | Administrations, Instituions | Association syndicale autorisée |
                        | 7322 | Administrations, Instituions | Association foncière urbaine |
                        | 7323 | Administrations, Instituions | Association foncière de remembrement |
                        | 7331 | Administrations, Instituions | Etablissement public local d'enseignement |
                        | 7340 | Administrations, Instituions | Pôle métropolitain |
                        | 7341 | Administrations, Instituions | Secteur de commune |
                        | 7342 | Administrations, Instituions | District urbain |
                        | 7343 | Administrations, Instituions | Communauté urbaine |
                        | 7344 | Administrations, Instituions | Métropole |
                        | 7345 | Administrations, Instituions | Syndicat intercommunal à vocation multiple (SIVOM) |
                        | 7346 | Administrations, Instituions | Communauté de commune |
                        | 7347 | Administrations, Instituions | Communauté de villes |
                        | 7348 | Administrations, Instituions | Communauté d'agglomération |
                        | 7349 | Administrations, Instituions | Autre établissement public local de coopération non spécialisé ou entente |
                        | 7351 | Administrations, Instituions | Institution interdépartementale ou entente |
                        | 7352 | Administrations, Instituions | Institution interrégionale ou entente |
                        | 7353 | Administrations, Instituions | Syndicat intercommunal à vocation unique (SIVU) |
                        | 7354 | Administrations, Instituions | Syndicat mixte communal |
                        | 7355 | Administrations, Instituions | Autre syndicat mixte |
                        | 7356 | Administrations, Instituions | Commission syndicale pour la gestion des biens indivis des communes |
                        | 7361 | Administrations, Instituions | Centre communal d'action sociale |
                        | 7362 | Administrations, Instituions | Caisse des écoles |
                        | 7363 | Administrations, Instituions | Caisse de crédit municipal |
                        | 7364 | Administrations, Instituions | Etablissement d'hospitalisation |
                        | 7365 | Administrations, Instituions | Syndicat inter hospitalier |
                        | 7366 | Administrations, Instituions | Etablissement public local social et médico-social |
                        | 7371 | Administrations, Instituions | Office public d'habitation à loyer modéré (OPHLM) |
                        | 7372 | Administrations, Instituions | Service départemental d'incendie |
                        | 7373 | Administrations, Instituions | Etablissement public local culturel |
                        | 7378 | Administrations, Instituions | Régie d'une collectivité locale à caractère administratif |
                        | 7379 | Administrations, Instituions | (Autre) Etablissement public administratif local |
                        | 7381 | Administrations, Instituions | Organisme consulaire |
                        | 7382 | Administrations, Instituions | Etablissement public national ayant fonction d'administration centrale |
                        | 7383 | Administrations, Instituions | Etablissement public national à caractère scientifique  culturel et professionnel |
                        | 7384 | Administrations, Instituions | Autre établissement public national d'enseignement |
                        | 7385 | Administrations, Instituions | Autre établissement public national administratif à compétence territoriale limitée |
                        | 7389 | Administrations, Instituions | Etablissement public national à caractère administratif |
                        | 7410 | Administrations, Instituions | Groupement d'intérêt public (GIP) |
                        | 7430 | Administrations, Instituions | Etablissement public des cultes d'Alsace-Lorraine |
                        | 7450 | Administrations, Instituions | Etablissement public, cercle et foyer dans les armées |
                        | 7470 | Administrations, Instituions | Groupement de coopération sanitaire à gestion publique |
                        | 7490 | Administrations, Instituions | Autre personne morale de droit administratif |
                        | 8110 | Administrations, Instituions | Régime général de la sécurité sociale |
                        | 8120 | Administrations, Instituions | Régime spécial de sécurité sociale |
                        | 8130 | Administrations, Instituions | Institution de retraite complémentaire |
                        | 8140 | Administrations, Instituions | Mutualité sociale agricole |
                        | 8150 | Administrations, Instituions | Régime maladie des non-salariés non agricoles |
                        | 8160 | Administrations, Instituions | Régime vieillesse ne dépendant pas du régime général de la sécurité sociale |
                        | 8170 | Administrations, Instituions | Régime d'assurance chômage |
                        | 8190 | Administrations, Instituions | Autre régime de prévoyance sociale |
                        | 8210 | De facto undivided ownership company | Mutuelle |
                        | 8250 | De facto undivided ownership company | Assurance mutuelle agricole |
                        | 8290 | De facto undivided ownership company | Autre organisme mutualiste |
                        | 8310 | Association fondation | Comité central d'entreprise |
                        | 8311 | Association fondation | Comité d'établissement |
                        | 8410 | Association fondation | Syndicat de salariés |
                        | 8420 | Association fondation | Syndicat patronal |
                        | 8450 | Association fondation | Ordre professionnel ou assimilé |
                        | 8470 | Association fondation | Centre technique industriel ou comité professionnel du développement économique |
                        | 8490 | Association fondation | Autre organisme professionnel |
                        | 8510 | Administrations, Instituions | Institution de prévoyance |
                        | 8520 | Administrations, Instituions | Institution de retraite supplémentaire |
                        | 9110 | Condominium syndicate | Syndicat de copropriété |
                        | 9150 | Association fondation | Association syndicale libre |
                        | 9210 | Association fondation | Association non déclarée |
                        | 9220 | Association fondation | Association déclarée |
                        | 9221 | Association fondation | Association déclarée "entreprises d'insertion par l'économique" |
                        | 9222 | Association fondation | Association intermédiaire |
                        | 9223 | Association fondation | Groupement d'employeurs |
                        | 9224 | Association fondation | Association d'avocats à responsabilité professionnelle individuelle |
                        | 9230 | Association fondation | Association déclarée  reconnue d'utilité publique |
                        | 9240 | Association fondation | Congrégation |
                        | 9260 | Association fondation | Association de droit local |
                        | 9300 | Association fondation | Fondation |
                        | 9900 | Diverse | Autre personne morale de droit privé |
                        | 9970 | Diverse | Groupement de coopération sanitaire à gestion privée |

                      enum: ["1000", "1100", "1200", "1300", "1400", "1500", "1600", "1700", "1800", "1900", "2110", "2120", "2210", "2220", "2310", "2320", "2385", "2400", "2700", "2900", "3110", "3120", "3205", "3210", "3220", "3290", "4110", "4120", "4130", "4140", "4150", "4160", "5191", "5192", "5193", "5194", "5195", "5196", "5202", "5203", "5306", "5307", "5308", "5309", "5385", "5410", "5415", "5422", "5426", "5430", "5431", "5432", "5442", "5443", "5451", "5453", "5454", "5455", "5458", "5459", "5460", "5485", "5498", "5499", "5505", "5510", "5515", "5520", "5522", "5525", "5530", "5531", "5532", "5542", "5543", "5546", "5547", "5548", "5551", "5552", "5553", "5554", "5555", "5558", "5559", "5560", "5585", "5599", "5605", "5610", "5615", "5620", "5622", "5625", "5630", "5631", "5632", "5642", "5643", "5646", "5647", "5648", "5651", "5652", "5653", "5654", "5655", "5658", "5659", "5660", "5685", "5699", "5710", "5720", "5785", "5800", "6100", "6210", "6220", "6316", "6317", "6318", "6411", "6521", "6532", "6533", "6534", "6535", "6536", "6537", "6538", "6539", "6540", "6541", "6542", "6543", "6544", "6551", "6554", "6558", "6560", "6561", "6562", "6563", "6564", "6565", "6566", "6567", "6568", "6569", "6571", "6572", "6573", "6574", "6575", "6576", "6577", "6578", "6585", "6588", "6589", "6595", "6596", "6597", "6598", "6599", "6901", "7111", "7112", "7113", "7120", "7150", "7160", "7171", "7172", "7179", "7190", "7210", "7220", "7225", "7229", "7230", "7312", "7313", "7314", "7321", "7322", "7323", "7331", "7340", "7341", "7342", "7343", "7344", "7345", "7346", "7347", "7348", "7349", "7351", "7352", "7353", "7354", "7355", "7356", "7361", "7362", "7363", "7364", "7365", "7366", "7371", "7372", "7373", "7378", "7379", "7381", "7382", "7383", "7384", "7385", "7389", "7410", "7430", "7450", "7470", "7490", "8110", "8120", "8130", "8140", "8150", "8160", "8170", "8190", "8210", "8250", "8290", "8310", "8311", "8410", "8420", "8450", "8470", "8490", "8510", "8520", "9110", "9150", "9210", "9220", "9221", "9222", "9223", "9224", "9230", "9240", "9260", "9300", "9900", "9970"]
                    legalShareCapital:
                      type: number
                      description: Business share capital.
                    legalSector:
                      type: string
                      description: Business sector code. NAF code in France
                    legalAnnualTurnOver:
                      type: string
                      description:  |
                        Business annual turnover range in kâ‚¬.
                      enum: ["", "0-39", "40-99", "100-249", "250-999", "1000-2999", "3000-9999", "10000-99999", "100000-*"]
                    legalNetIncomeRange:
                      type: string
                      description: |
                        Business annual netincome in kâ‚¬.
                      enum: ["", "0-4", "5-9", "10-49", "50-149", "150-499", "500-*"]
                    legalNumberOfEmployeeRange:
                      type: string
                      description:  |
                        Business workforce.
                      enum: ["", "0", "1-9", "10-99", "100-249", "250-*"]
                    phone:
                      type: string
                      description: Business phone number.
                    email:
                      type: string
                      description: Business generic email.
                    address1:
                      type: string
                      description: Business' street
                    postcode:
                      type: string
                      description: Business' postal code
                    city:
                      type: string
                      description: Business' city
                    state:
                      type: string
                      description: Business' province
                    country:
                      type: string
                      description: Business' country
                      format: ISO 3166-1 alpha-2
                    status:
                      type: string
                      description:  |
                        | Code | Description |
                        | ---- | ----------- |
                        |  D   | Deleted     |
                        |  N   | Company non diffusible (Insee) |
                        |  I   | Inactive (Insee) |
                        |  A   | Economically active |
                        |  C   | Closed |
                        |  T   | Transfered |
                        |  S   | Economically stopped (Insee) |
                        |  L   | Liquidation |
                        |  O   | Dormant company |
                      enum: ["D", "N", "I", "A", "C", "T", "S", "L", "O"]
                    tradename:
                      type: string
                      description: Business trade name
                    users:
                      type: array
                      items:
                        type: object
                        properties:
                          firstname:
                            type: string
                            description: Representative's first name.
                          lastname:
                            type: string
                            description: Representative's last name.
                          fullnames:
                            type: string
                            description: Representative's full names.
                          birthday:
                            type: string
                            description: Representative's birthdate. Format YYYY-MM-DD
                          parentType:
                            type: string
                            description: Representative's position in company
                            enum: ["Honorary president", "Not associated manager", "President of the control council", "Member of the management board", "Member of the supervisory council", "Member of the control committee", "Partner", "Management advisor ", "Deputy managing director", "Vice-president of the management board", "Vice-president of the supervisory council", "Developer", "Other manager", "Receiver", "Authorized agent", "Person in charge abroad", "Representative in France", "Member of the management council", "Member of the control council", "Treasurer", "Secretary", "Member", "Administrative director", "Sales director", "Financial director", "Chief Technical Officer", "General secretary", "Chief accountant", "Guardian", "Plan commissioner ", "Management agent", "Concordat commissioner", "Representative of the creditors", "Judicial representative", "Substitute judge-commissioner", "Judge-commissioner", "Receiver/representative of the creditors", "Conciliator", "Auditor", "Statutory auditor", "Supervision commissioner", "Deputy auditor", "Spouse-associate", "Accounts controller", "Censor", "Chief Executive Officer", "President", "Chairman of the Board", "Governor", "Deputy governor", "Person having the power to usually involve the company", "Manager", "Co-managing partner", "Managing director", "Managing director not administrator", "Unique managing director", "Delegated managing director", "Vice-president", "Administrator", "Delegated administrator", "President of the management board", "President of the supervisory council", "Active partner", "Management controller", "Liquidator", "Temporary administrator", "Representative in France of a foreign company", "Personal business manager" ]
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - api_key: []
  /cards:
    get:
      summary: search cards
      parameters:
        - name: accessSignature
          in: query
          description: |
            Access signature can be mandatory for specific context. Treezor will
            contact you if so. More info
            [here](https://agent.treezor.com/security-authentication).
          required: false
          type: string
        - name: accessTag
          in: query
          description: |
            Access tag is used for idem potency query. More info
            [here](https://agent.treezor.com/basics).
          required: false
          type: string
        - name: accessUserId
          in: query
          description: |
            Access user's id is used for user's action restriction. More info
            [here](https://agent.treezor.com/basics).
          required: false
          type: integer
        - name: accessUserIp
          in: query
          description: |
            Access user's ip is used for user's action restriction. More info
            [here](https://agent.treezor.com/basics).
          required: false
          type: string
        - name: cardId
          in: query
          description: Card's id
          required: false
          type: integer
        - name: userId
          in: query
          description: User's id of cardholder
          required: false
          type: integer
        - name: embossedName
          in: query
          description: Embossed name of the card
          required: false
          type: string
        - name: publicToken
          in: query
          description: Public token of the card
          required: false
          type: string
        - name: permsGroup
          in: query
          description: >
            Permissions group of the card. There is 4 usages which create 16
            possible groups:


            | group | NFC | ATM | On-line | Foreign |

            |-----|-----|-----|-----|------|

            |TRZ-CU-001|KO|KO|KO|KO|

            |TRZ-CU-002|KO|KO|KO|OK|

            |TRZ-CU-003|KO|KO|OK|KO|

            |TRZ-CU-004|KO|KO|OK|OK|

            |TRZ-CU-005|KO|OK|KO|KO|

            |TRZ-CU-006|KO|OK|KO|OK|

            |TRZ-CU-007|KO|OK|OK|KO|

            |TRZ-CU-008|KO|OK|OK|OK|

            |TRZ-CU-009|OK|KO|KO|KO|

            |TRZ-CU-010|OK|KO|KO|OK|

            |TRZ-CU-011|OK|KO|OK|KO|

            |TRZ-CU-012|OK|KO|OK|OK|

            |TRZ-CU-013|OK|OK|KO|KO|

            |TRZ-CU-014|OK|OK|KO|OK|

            |TRZ-CU-015|OK|OK|OK|KO|

            |TRZ-CU-016|OK|OK|OK|OK|
          required: false
          type: string
        - name: isPhysical
          in: query
          description: |
            | Value | Type |
            | --- | --- |
            | 1 | Physical card|
            | 0 | Virtual card |
          required: false
          type: integer
        - name: isConverted
          in: query
          description: |
            | Value | Type |
            | --- | --- |
            | 1 | Physical card converted in a virtual card|
            | 0 | Not converted |
          required: false
          type: integer
        - name: lockStatus
          in: query
          description: |
            | Value | Type |
            | --- | --- |
            | 1 | Card blocked |
            | 0 | Card Unblocked |
            | 2 | Lost card |
            | 3 | Stolen card |
          required: false
          type: integer
        - name: mccRestrictionGroupId
          in: query
          description: mccRestrictionGroupId of the card
          required: false
          type: integer
        - name: merchantRestrictionGroupId
          in: query
          description: merchantRestrictionGroupId of the card
          required: false
          type: integer
        - name: countryRestrictionGroupId
          in: query
          description: countryRestrictionGroupId of the card
          required: false
          type: integer
        - name: pageNumber
          in: query
          description: |
            Pagination page number. More info
            [here](https://agent.treezor.com/lists).
          required: false
          type: integer
        - name: pageCount
          in: query
          description: |
            The number of items per page. More info
            [here](https://agent.treezor.com/lists).
          required: false
          type: integer
        - name: sortBy
          in: query
          description: |
            The transaction element you want to sort the list with. Default
            value : _createdDate_. More info
            [here](https://agent.treezor.com/lists).
          required: false
          type: string
        - name: sortOrder
          in: query
          description: |
            The order you want to sort the list.
            * **DESC** for a descending sort
            * **ASC** for a ascending sort.

            Default value : DESC.
            More info [here](https://agent.treezor.com/lists).
          required: false
          type: string
        - name: createdDateFrom
          in: query
          description: |
            The creation date from which you want to filter the request result.
            Format YYYY-MM-DD HH:MM:SS. More info
            [here](https://agent.treezor.com/lists)
          required: false
          type: string
          format: date-time
        - name: createdDateTo
          in: query
          description: |
            The creation date up to which you want to filter the request result.
            Format YYYY-MM-DD HH:MM:SS. More info
            [here](https://agent.treezor.com/lists)
          required: false
          type: string
          format: date-time
        - name: updatedDateFrom
          in: query
          description: |
            The modification date from which you want to filter the request
            result. Format YYYY-MM-DD HH:MM:SS. More info
            [here](https://agent.treezor.com/lists)
          required: false
          type: string
          format: date-time
        - name: updatedDateTo
          in: query
          description: |
            The modification date up to which you want to filter the request
            result. Format YYYY-MM-DD HH:MM:SS. More info
            [here](https://agent.treezor.com/lists)
          required: false
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              cards:
                type: array
                items:
                  $ref: '#/definitions/Card'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        default:
          description: Unexpected error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
      security:
        - api_key: []
      tags:
        - card
  '/cards/{id}':
    get:
      summary: get a card
      parameters:
        - name: id
          in: path
          description: Card's id.
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              cards:
                type: array
                items:
                  $ref: '#/definitions/Card'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        default:
          description: Unexpected error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
      security:
        - api_key: []
      tags:
        - card
    put:
      summary: update card informations
      description: Actually update mccRestrictionGroupId and merchantRestrictionGroupId of a card
      parameters:
        - name: id
          in: path
          description: Card's id.
          required: true
          type: integer
        - name: accessSignature
          in: query
          description: |
            Access signature can be mandatory for specific context. Treezor will
            contact you if so. More info
            [here](https://agent.treezor.com/security-authentication).
          required: false
          type: string
        - name: mccRestrictionGroupId
          in: query
          description: card's mccRestrictionGroupId
          required: false
          type: integer
        - name: merchantRestrictionGroupId
          in: query
          description: card's merchantRestrictionGroupId
          required: false
          type: integer
        - name: countryRestrictionGroupId
          in: query
          description: card's countryRestrictionGroupId
          required: false
          type: integer
        - name: accessTag
          in: query
          description: |
            Access tag is used for idem potency query. More info
            [here](https://agent.treezor.com/basics).
          required: false
          type: string
        - name: accessUserId
          in: query
          description: |
            Access user's id is used for user's action restriction. More info
            [here](https://agent.treezor.com/basics).
          required: false
          type: integer
        - name: accessUserIp
          in: query
          description: |
            Access user's ip is used for user's action restriction. More info
            [here](https://agent.treezor.com/basics).
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              cards:
                type: array
                items:
                  $ref: '#/definitions/Card'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        default:
          description: Unexpected error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
      security:
        - api_key: []
      tags:
        - card
  /cards/CreateVirtual:
    post:
      summary: create a virtual card
      description: Create a new virtual card. To use a card you will need to activate it (/cards/{id}/Activate/).
      parameters:
        - name: accessSignature
          in: query
          description: |
            Access signature can be mandatory for specific context. Treezor will
            contact you if so. More info
            [here](https://agent.treezor.com/security-authentication).
          required: false
          type: string
        - name: userId
          in: query
          description: User's id of cardholder
          required: true
          type: integer
        - name: walletId
          in: query
          description: Wallet's Id in which to create the card
          required: true
          type: integer
        - name: permsGroup
          in: query
          description: >
            Permissions group of the card. There is 4 usages which create 16
            possible groups:


            | group | NFC | ATM | On-line | Foreign |

            |-----|-----|-----|-----|------|

            |TRZ-CU-001|KO|KO|KO|KO|

            |TRZ-CU-002|KO|KO|KO|OK|

            |TRZ-CU-003|KO|KO|OK|KO|

            |TRZ-CU-004|KO|KO|OK|OK|

            |TRZ-CU-005|KO|OK|KO|KO|

            |TRZ-CU-006|KO|OK|KO|OK|

            |TRZ-CU-007|KO|OK|OK|KO|

            |TRZ-CU-008|KO|OK|OK|OK|

            |TRZ-CU-009|OK|KO|KO|KO|

            |TRZ-CU-010|OK|KO|KO|OK|

            |TRZ-CU-011|OK|KO|OK|KO|

            |TRZ-CU-012|OK|KO|OK|OK|

            |TRZ-CU-013|OK|OK|KO|KO|

            |TRZ-CU-014|OK|OK|KO|OK|

            |TRZ-CU-015|OK|OK|OK|KO|

            |TRZ-CU-016|OK|OK|OK|OK|
          required: true
          type: string
        - name: cardTag
          in: query
          description: Custom field
          required: false
          type: string
        - name: batchDeliveryId
          in: query
          description: Batch regroupement identifier (must be between 1 and 238327) NOT YET OPERATIONAL
          required: false
          type: integer
        - name: limitAtmYear
          in: query
          description: ATM operations limit for a sliding year. No default value.
          required: false
          type: integer
        - name: limitAtmMonth
          in: query
          description: ATM operations limit for a sliding month. No default value.
          required: false
          type: integer
        - name: limitAtmWeek
          in: query
          description: ATM operations limit for a sliding week. Default value 2000Ã¢â€šÂ¬.
          required: false
          type: integer
        - name: limitAtmDay
          in: query
          description: ATM operations limit for a single day. Default value 1000Ã¢â€šÂ¬.
          required: false
          type: integer
        - name: limitAtmAll
          in: query
          description: ATM operations limit from beginning. No default value.
          required: false
          type: integer
        - name: limitPaymentYear
          in: query
          description: POS operations limit for a sliding year. No default value.
          required: false
          type: integer
        - name: limitPaymentMonth
          in: query
          description: POS operations limit for a sliding month. No default value.
          required: false
          type: integer
        - name: limitPaymentWeek
          in: query
          description: POS operations limit for a sliding week. Default value 3000Ã¢â€šÂ¬.
          required: false
          type: integer
        - name: limitPaymentDay
          in: query
          description: POS operations limit for a single day. Default value 2000Ã¢â€šÂ¬.
          required: false
          type: integer
        - name: limitPaymentAll
          in: query
          description: POS operations limit from beginning. No default value.
          required: false
          type: integer
        - name: paymentDailyLimit
          in: query
          description: POS operations limit for a single day including cents. The decimal delimiter must be ".". No default value.
          required: false
          type: number
          format: float
        - name: pin
          in: query
          description: Card's PIN code value.
          required: false
          type: string
        - name: cardPrint
          in: query
          description: Card appareance code, also used to choose the program ID of the card
          required: true
          type: string
        - name: anonymous
          in: query
          description: Card is anonymous. If value is 1 there will be no embossed name.
          required: false
          type: integer
        - name: sendToParent
          in: query
          description: If you put the value 1 the delivery address will be the parent user's.
          required: false
          type: integer
        - name: mccRestrictionGroupId
          in: query
          description: mccRestrictionGroupId you want to apply
          required: false
          type: integer
        - name: merchantRestrictionGroupId
          in: query
          description: merchantRestrictionGroupId you want to apply
          required: false
          type: integer
        - name: countryRestrictionGroupId
          in: query
          description: countryRestrictionGroupId you want to apply
          required: false
          type: integer
        - name: accessTag
          in: query
          description: |
            Access tag is used for idem potency query. More info
            [here](https://agent.treezor.com/basics).
          required: false
          type: string
        - name: accessUserId
          in: query
          description: |
            Access user's id is used for user's action restriction. More info
            [here](https://agent.treezor.com/basics).
          required: false
          type: integer
        - name: accessUserIp
          in: query
          description: |
            Access user's ip is used for user's action restriction. More info
            [here](https://agent.treezor.com/basics).
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              cards:
                type: array
                items:
                  $ref: '#/definitions/Card'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        default:
          description: Unexpected error
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
      security:
        - api_key: []
      tags:
        - card
  /cards/RequestPhysical:
    post:
      summary: create a physical card
      description: Create a new physical card. To use a card you will need to activate it (/cards/{id}/Activate/).
      parameters:
        - name: accessSignature
          in: query
          description: |
            Access signature can be mandatory for specific context. Treezor will
            contact you if so. More info
            [here](https://agent.treezor.com/security-authentication).
          required: false
          type: string
        - name: userId
          in: query
          description: User's id of cardholder
          required: true
          type: integer
        - name: walletId
          in: query
          description: Wallet's Id in which to create the card
          required: true
          type: integer
        - name: permsGroup
          in: query
          description: >
            Permissions group of the card. There is 4 usages which create 16
            possible groups:


            | group | NFC | ATM | On-line | Foreign |

            |-----|-----|-----|-----|------|

            |TRZ-CU-001|KO|KO|KO|KO|

            |TRZ-CU-002|KO|KO|KO|OK|

            |TRZ-CU-003|KO|KO|OK|KO|

            |TRZ-CU-004|KO|KO|OK|OK|

            |TRZ-CU-005|KO|OK|KO|KO|

            |TRZ-CU-006|KO|OK|KO|OK|

            |TRZ-CU-007|KO|OK|OK|KO|

            |TRZ-CU-008|KO|OK|OK|OK|

            |TRZ-CU-009|OK|KO|KO|KO|

            |TRZ-CU-010|OK|KO|KO|OK|

            |TRZ-CU-011|OK|KO|OK|KO|

            |TRZ-CU-012|OK|KO|OK|OK|

            |TRZ-CU-013|OK|OK|KO|KO|

            |TRZ-CU-014|OK|OK|KO|OK|

            |TRZ-CU-015|OK|OK|OK|KO|

            |TRZ-CU-016|OK|OK|OK|OK|
          required: true
          type: string
        - name: cardTag
          in: query
          description: Custom field
          required: true
          type: string
        - name: batchDeliveryId
          in: query
          description: Batch regroupement identifier (must be between 1 and 238327) NOT YET OPERATIONAL
          required: false
          type: integer
        - name: limitAtmYear
          in: query
          description: ATM operations limit for a sliding year. No default value.
          required: false
          type: integer
        - name: limitAtmMonth
          in: query
          description: ATM operations limit for a sliding month. No default value.
          required: false
          type: integer
        - name: limitAtmWeek
          in: query
          description: ATM operations limit for a sliding week. Default value 2000Ã¢â€šÂ¬.
          required: false
          type: integer
        - name: limitAtmDay
          in: query
          description: ATM operations limit for a single day. Default value 1000Ã¢â€šÂ¬.
          required: false
          type: integer
        - name: limitAtmAll
          in: query
          description: ATM operations limit from beginning. No default value.
          required: false
          type: integer
        - name: limitPaymentYear
          in: query
          description: POS operations limit for a sliding year. No default value.
          required: false
          type: integer
        - name: limitPaymentMonth
          in: query
          description: POS operations limit for a sliding month. No default value.
          required: false
          type: integer
        - name: limitPaymentWeek
          in: query
          description: POS operations limit for a sliding week. Default value 3000Ã¢â€šÂ¬.
          required: false
          type: integer
        - name: limitPaymentDay
          in: query
          description: POS operations limit for a single day. Default value 2000Ã¢â€šÂ¬.
          required: false
          type: integer
        - name: limitPaymentAll
          in: query
          description: POS operations limit from beginning. No default value.
          required: false
          type: integer
        - name: paymentDailyLimit
          in: query
          description: POS operations limit for a single day including cents. The decimal delimiter must be ".". No default value.
          required: false
          type: number
          format: float
        - name: pin
          in: query
          description: Card's PIN code value. Default random PIN.
          required: false
[...]
